AddDefaultCharset UTF-8
php_flag display_errors on

php_value display_errors 1
php_value display_startup_errors 1
php_value error_reporting E_ALL

#Options +Indexes
#RewriteEngine On
#RewriteRule ^ index.php [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [L,QSA]

AddType text/css .css
AddType application/javascript .js
AddType image/jpeg .jpeg .jpg .jpe
AddType image/jpeg .jpeg .jpg .jpe
AddType image/png .png
